<body class="p-5">
  <div class="container">
    <div class="row " >
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center shadow">
          <div class="card-body">
            <i class="bi bi-globe fs-1" style="color: rgb(240, 217, 11);"></i>
            <h3 class="card-title mt-2">Global Presence</h3>
            <p class="card-text">We have over 50 branches in 20 countries worldwide.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center shadow">
          <div class="card-body">
            <i class="bi bi-speedometer2 fs-1" style="color: rgb(240, 217, 11);"></i>
            <h3 class="card-title mt-2">Cars Sold</h3>
            <p class="card-text">We have sold more than 100,000 cars to date.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center shadow">
          <div class="card-body">
            <i class="bi bi-calendar-check fs-1" style="color: rgb(240, 217, 11);"></i>
            <h3 class="card-title mt-2">Years of Experience</h3>
            <p class="card-text">Over 30 years of expertise in the automotive industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
