<div class="container-fluid bg-dark p-3 mt-2">
  <h3 class="text-white text-center">
    <span><a routerLink="Landing"><i class="bi bi-car-front-fill"
            style="color:rgb(240, 217, 11);">
          </i></a></span>
    S cars <h6 class="d-inline">2025</h6>
  </h3>
  <hr class="mx-auto w-50 text-center my-0"
      style="color:rgb(240, 217, 11);">
      <div class="row justify-content-center">
        <div class="col-auto">
          <a href="#">
            <i class="bi bi-facebook fs-4"></i>
          </a>
        </div>
        <div class="col-auto">
          <a href="#">
            <i class="bi bi-github fs-4 text-black "></i>
          </a>
        </div>
        <div class="col-auto">
          <a href="#">
            <i class="bi bi-linkedin fs-4 text-light"></i>
          </a>
        </div>
        <div class="col-auto">
          <a href="#">
            <i class="bi bi-whatsapp fs-4 text-success"></i>
          </a>
        </div>


      </div>
</div>
